.fixed-header{
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 10px 10px 20px #fff;
}
header{
    z-index: 1;
    position: relative;
    padding-top: 20px;
}
.nav-col {
    float: left;
    width: 75%;
}
.contact-info{
    float: right;
    text-align: right;
    width: 25%;
}
.logo {
    float: left;
    width: 30%;
}
.menu {
    float: right;
    width: 70%;
}

.logo img {
    width: 120px;
    height: 100px;
}

.menu a {
    text-decoration: none;
    padding: 22px;
    display: inline-block;
    color: #4d4d4d;
    transition: all 0.5s ease;
}

.menu a:hover {
    color: #f47514;
}

.contact-info a {
    color: #4d4d4d;
    text-decoration: none;
    margin-top: 23px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease;
}

.contact-info a:hover {
    color: #f47514;
}
.img{
    width: 100%;
    height: auto;
    /* border-radius: 50%; */
    padding-top: 30px;
}
#about{
    text-align: center;
    padding-top: 30px;
}
#services{
    text-align: center;
    padding-top: 30px;
}
.footer-col {
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-top: 45px;
}
li{
    text-decoration: none;
    list-style: none;
}

.footer-2-col {
    position: relative;
    left: 110px;
}

.footer-col h3 {
    color: #3b3663;
    font-family: "Nunito";
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-col p {
    color: #696687;
    font-size: 16px;
    font-family: "Rubik";
    font-weight: 400;
    line-height: 28px;
}

.footer-col i {
    color: #fff;
    background-color: #ff881f;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social-icons-footer i:hover {
    transform: translateY(-10px)
}

.footer-col.footer-2-col ul li {
    color: #696687;
    font-family: "Rubik";
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer-col.footer-2-col ul li:hover {
    padding-left: 5px;
}

.footer-col.footer-2-col ul {
    list-style: none;
}

.footer-col a {
    color: #696687;
    text-decoration: none;
    padding-left: 10px;
}

.footer-col span {
    padding-left: 10px;
}

p.copyright-footer {
    text-align: center;
    font-family: "Rubik";
    padding: 20px 0px;
}

hr.footer-hr {
    margin: 60px 0px 20px;
}